.stats-card{
    background:white;
    border-radius:18px;
    padding:25px;

    display:flex;
    align-items:center;
    gap:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

    transition:.3s;
}

.stats-card:hover{

    transform:translateY(-6px);

    box-shadow:0 20px 40px rgba(0,0,0,.15);

}

.stats-icon{

    width:70px;
    height:70px;

    border-radius:16px;

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;

    font-size:30px;

}