.info-section{
    padding:100px 0;
    background:white;
}

.info-card{
    background:white;
    border-radius:20px;
    padding:30px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
    height:100%;
}

.info-card:hover{
    transform:translateY(-10px);
}

.tanggal{
    display:inline-block;
    background:#2563eb;
    color:white;
    padding:6px 15px;
    border-radius:20px;
    font-size:14px;
    margin-bottom:20px;
}

.info-card h4{
    font-weight:700;
    margin-bottom:15px;
}

.info-card p{
    color:#6b7280;
    margin-bottom:20px;
}